<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
              <a href="#" class="d-block">Pierce</a>
          </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- تسجيل الخروج -->
              <li class="nav-item">
                  <a href="{% url 'logout' %}" class="nav-link">
                      <i class="nav-icon fas fa-sign-out-alt"></i> <!-- أيقونة تسجيل الخروج -->
                      <p>تسجيل الخروج</p>
                  </a>
              </li>
              
              <!-- إدارة المخازن -->
              <li class="nav-item has-treeview menu-open">
                  <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>إدارة المخازن
                          <i class="right fas fa-angle-left"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview">
                      <li class="nav-item">
                          <a href="{% url 'warehouses' %}" class="nav-link active">
                              <i class="far fa-circle nav-icon"></i>
                              <p>المخازن</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'add_stock_item' %}" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>أصناف المخازن</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'items' %}" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>الأصناف</p>
                          </a>
                      </li>
                  </ul>
              </li>

              <!-- إدارة المحطات -->
              <li class="nav-item">
                  <a href="{% url 'stations' %}" class="nav-link">
                      <i class="nav-icon fas fa-industry"></i> <!-- أيقونة إدارة المحطات -->
                      <p>إدارة المحطات</p>
                  </a>
              </li>

              <!-- إدارة الموردين -->
              <li class="nav-item">
                  <a href="{% url 'suppliers' %}" class="nav-link">
                      <i class="nav-icon fas fa-user-tie"></i> <!-- أيقونة إدارة الموردين -->
                      <p>إدارة الموردين</p>
                  </a>
              </li>

              <!-- إدارة المستفيدين -->
              <li class="nav-item">
                  <a href="{% url 'beneficiarys' %}" class="nav-link">
                      <i class="nav-icon fas fa-users"></i> <!-- أيقونة إدارة المستفيدين -->
                      <p>إدارة المستفيدين</p>
                  </a>
              </li>

              <!-- إدارة الوارد -->
              <li class="nav-item">
                  <a href="{% url 'receiving_list' %}" class="nav-link">
                      <i class="nav-icon fas fa-arrow-down"></i> <!-- أيقونة إدارة الوارد -->
                      <p>إدارة الوارد</p>
                  </a>
              </li>

              <!-- إدارة الصادر -->
              <li class="nav-item">
                  <a href="{% url 'dispatch_list' %}" class="nav-link">
                      <i class="nav-icon fas fa-arrow-up"></i> <!-- أيقونة إدارة الصادر -->
                      <p>إدارة الصادر</p>
                  </a>
              </li>

              <!-- إدارة مرتجع وارد -->
              <li class="nav-item">
                  <a href="{% url 'receiving_return_create' %}" class="nav-link">
                      <i class="nav-icon fas fa-arrow-left"></i> <!-- أيقونة إدارة مرتجع وارد -->
                      <p>إدارة مرتجع وارد</p>
                  </a>
              </li>

              <!-- إدارة مرتجع صادر -->
              <li class="nav-item">
                  <a href="{% url 'dispatch_return_create' %}" class="nav-link">
                      <i class="nav-icon fas fa-arrow-right"></i> <!-- أيقونة إدارة مرتجع صادر -->
                      <p>إدارة مرتجع صادر</p>
                  </a>
              </li>

              <!-- عملية التلف -->
              <li class="nav-item">
                  <a href="{% url 'create-damage-operation' %}" class="nav-link">
                      <i class="nav-icon fas fa-trash-alt"></i> <!-- أيقونة عملية التلف -->
                      <p>عملية التلف</p>
                  </a>
              </li>

              <!-- عملية تحويل مخزني -->
              <li class="nav-item">
                  <a href="{% url 'transfer_create' %}" class="nav-link">
                      <i class="nav-icon fas fa-exchange-alt"></i> <!-- أيقونة عملية تحويل مخزني -->
                      <p>عملية تحويل مخزني</p>
                  </a>
              </li>

              <!-- قسم التقارير -->
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chart-line"></i> <!-- أيقونة التقارير -->
                    <p>
                        التقارير
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'inventory_report' %}" class="nav-link">
                            <i class="far fa-file-alt nav-icon"></i> <!-- أيقونة تقرير المخزن -->
                            <p>تقرير حركة عامة للمخزن بحسب مخزن محدد</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'inventory_report_item' %}" class="nav-link">
                            <i class="far fa-box nav-icon"></i> <!-- أيقونة تقرير صنف -->
                            <p>تقرير حركة عامة للمخزن بحسب صنف محدد</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse_status_report' %}" class="nav-link">
                            <i class="far fa-warehouse nav-icon"></i> <!-- أيقونة حالة المخزن -->
                            <p>تقرير حالة المخزن بحسب مخزن محدد</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'item_status_report' %}" class="nav-link">
                            <i class="far fa-check-circle nav-icon"></i> <!-- أيقونة حالة الصنف -->
                            <p>تقرير حالة الصنف في المخازن</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'inventory_report_beneficiary' %}" class="nav-link">
                            <i class="far fa-user nav-icon"></i> <!-- أيقونة تقرير المستفيد -->
                            <p>تقرير الصادر بحسب مستفيد محدد</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'inventory_report_supplier' %}" class="nav-link">
                            <i class="far fa-truck nav-icon"></i> <!-- أيقونة تقرير المورد -->
                            <p>تقرير الوارد بحسب مورد محدد</p>
                        </a>
                    </li>
                </ul>
            </li>
            
              
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
