{% extends 'base.html' %}

{% block content %}
<h1> قــائمة المحطات</h1>  <!-- عنوان التقرير -->

<div class="wrapper">
    <div class="content-wrapper">
        <div class="main-container">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="card-box pb-10">
                    <table class="data-table table nowrap text-center">
                        <thead>
                            <tr>
                                <th class="table-plus">المحطة</th>
                                <th>العنوان</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for station in stations %}
                            <tr>
                                <td>{{ station.station_name }}</td>
                                <td>{{ station.address }}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStockItemModal">
                        أضف محطة
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding an item -->
<div class="modal fade" id="addStockItemModal" tabindex="-1" aria-labelledby="addStockItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStockItemModalLabel">إضافة محطة جديدة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_station' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name">اسم المحطة</label>
                        <input type="text" class="form-control" id="id_name" name="station_name" required>
                    </div>
                    <div class="form-group">
                        <label for="id_address">العنوان</label>
                        <input type="text" class="form-control" id="id_address" name="address" required>
                    </div>
                    <button type="submit" class="btn btn-primary">إضافة محطة </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
